In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Pandas

pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.  

[documentation](https://pandas.pydata.org/pandas-docs/stable/)

In [2]:
import pandas as pd

file_path = '/Users/hananalaskar/Documents/Code for Girls/data-science/Hanan_updated_version/data_set' # change it later
df = pd.read_csv(file_path+'/ds_salaries.csv')
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [4]:
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [7]:
#df = 
df.drop(columns= ['Unnamed: 0'], axis=1, inplace = True)

In [8]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [9]:
# To remove a row
df.drop(index=10, axis=0)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [12]:
df.tail(100)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
507,2022,MI,FT,Research Scientist,59000,EUR,64849,AT,0,AT,L
508,2022,EN,FT,Research Scientist,120000,USD,120000,US,100,US,L
509,2022,MI,FT,Applied Data Scientist,157000,USD,157000,US,100,US,L
510,2022,EN,FT,Computer Vision Software Engineer,150000,USD,150000,AU,100,AU,S
511,2022,MI,FT,Business Data Analyst,90000,CAD,70912,CA,50,CA,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [11]:
# To remove a column
df.drop(columns= df.columns[0], axis=1, inplace = True)

df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [12]:
# To view a small sample of a DataFrame object, use the head() and tail().
# Default number of elements to display is 5, but you may pass a custom number.
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [13]:
df.head(40)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
30,2020,MI,FT,Data Engineering Manager,51999,EUR,59303,DE,100,DE,S
31,2020,EN,FT,Big Data Engineer,70000,USD,70000,US,100,US,L
32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
33,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
34,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
36,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
38,2020,EN,FT,Data Analyst,10000,USD,10000,NG,100,NG,S
39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S

In [16]:
print("\nTail of df:")
df.tail()

Tail of df:

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [17]:
print("\nTail of df with custom number:")
df.tail(100)

Tail of df with custom number:

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
507,2022,MI,FT,Research Scientist,59000,EUR,64849,AT,0,AT,L
508,2022,EN,FT,Research Scientist,120000,USD,120000,US,100,US,L
509,2022,MI,FT,Applied Data Scientist,157000,USD,157000,US,100,US,L
510,2022,EN,FT,Computer Vision Software Engineer,150000,USD,150000,AU,100,AU,S
511,2022,MI,FT,Business Data Analyst,90000,CAD,70912,CA,50,CA,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [18]:
# Print shape of df
print("Shape:", df.shape)

Shape: (607, 11)

In [15]:
pd.set_option('display.max_rows', None)

df[100:200]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
100,2021,MI,FT,Data Analyst,75000,USD,75000,US,0,US,L
101,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,L
102,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
103,2021,MI,FT,Data Analyst,62000,USD,62000,US,0,US,L
104,2021,MI,FT,Data Scientist,73000,USD,73000,US,0,US,L
105,2021,MI,FT,Data Analyst,37456,GBP,51519,GB,50,GB,L
106,2021,MI,FT,Research Scientist,235000,CAD,187442,CA,100,CA,L
107,2021,SE,FT,Data Engineer,115000,USD,115000,US,100,US,S
108,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,M
109,2021,EN,FT,Data Engineer,2250000,INR,30428,IN,100,IN,L
110,2021,SE,FT,Machine Learning Engineer,80000,EUR,94564,DE,50,DE,L
111,2021,SE,FT,Director of Data Engineering,82500,GBP,113476,GB,100,GB,M
112,2021,SE,FT,Lead Data Engineer,75000,GBP,103160,GB,100,GB,S
113,2021,EN,PT,AI Scientist,12000,USD,12000,PK,100,US,M
114,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
115,2021,EN,FT,Machine Learning Scientist,225000,USD,225000,US,100,US,L
116,2021,MI,FT,Data Scientist,50000,USD,50000,NG,100,NG,L
117,2021,MI,FT,Data Science Engineer,34000,EUR,40189,GR,100,GR,M
118,2021,EN,FT,Data Analyst,90000,USD,90000,US,100,US,S
119,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
120,2021,MI,FT,Big Data Engineer,60000,USD,60000,ES,50,RO,M
121,2021,SE,FT,Principal Data Engineer,200000,USD,200000,US,100,US,M
122,2021,EN,FT,Data Analyst,50000,USD,50000,US,100,US,M
123,2021,EN,FT,Applied Data Scientist,80000,GBP,110037,GB,0,GB,L
124,2021,EN,PT,Data Analyst,8760,EUR,10354,ES,50,ES,M
125,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
126,2021,SE,FT,Machine Learning Scientist,120000,USD,120000,US,50,US,S
127,2021,MI,FT,Data Scientist,700000,INR,9466,IN,0,IN,S
128,2021,EN,FT,Machine Learning Engineer,20000,USD,20000,IN,100,IN,S
129,2021,SE,FT,Lead Data Scientist,3000000,INR,40570,IN,50,IN,L
130,2021,EN,FT,Machine Learning Developer,100000,USD,100000,IQ,50,IQ,S
131,2021,EN,FT,Data Scientist,42000,EUR,49646,FR,50,FR,M
132,2021,MI,FT,Applied Machine Learning Scientist,38400,USD,38400,VN,100,US,M
133,2021,SE,FT,Computer Vision Engineer,24000,USD,24000,BR,100,BR,M
134,2021,EN,FT,Data Scientist,100000,USD,100000,US,0,US,S
135,2021,MI,FT,Data Analyst,90000,USD,90000,US,100,US,M
136,2021,MI,FT,ML Engineer,7000000,JPY,63711,JP,50,JP,S
137,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
138,2021,SE,FT,Principal Data Scientist,220000,USD,220000,US,0,US,L
139,2021,EN,FT,Data Scientist,80000,USD,80000,US,100,US,M
140,2021,MI,FT,Data Analyst,135000,USD,135000,US,100,US,L
141,2021,SE,FT,Data Science Manager,240000,USD,240000,US,0,US,L
142,2021,SE,FT,Data Engineering Manager,150000,USD,150000,US,0,US,L
143,2021,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
144,2021,MI,FT,Data Engineer,100000,USD,100000,US,100,US,L
145,2021,SE,FT,Machine Learning Engineer,70000,EUR,82744,BE,50,BE,M
146,2021,MI,FT,Research Scientist,53000,EUR,62649,FR,50,FR,M
147,2021,MI,FT,Data Engineer,90000,USD,90000,US,100,US,L
148,2021,SE,FT,Data Engineering Manager,153000,USD,153000,US,100,US,L
149,2021,SE,FT,Cloud Data Engineer,160000,USD,160000,BR,100,US,S
150,2021,SE,FT,Director of Data Science,168000,USD,168000,JP,0,JP,S
151,2021,MI,FT,Data Scientist,150000,USD,150000,US,100,US,M
152,2021,MI,FT,Data Scientist,95000,CAD,75774,CA,100,CA,L
153,2021,EN,FT,Data Scientist,13400,USD,13400,UA,100,UA,L
154,2021,SE,FT,Data Science Manager,144000,USD,144000,US,100,US,L
155,2021,SE,FT,Data Science Engineer,159500,CAD,127221,CA,50,CA,L
156,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
157,2021,MI,FT,Applied Machine Learning Scientist,423000,USD,423000,US,50,US,L
158,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
159,2021,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
160,2021,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
161,2021,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
162,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L
163,2021,EN,FT,Data Science Consultant,54000,EUR,63831,DE,50,DE,L
164,2021,EX,FT,Director of Data Science,110000,EUR,130026,DE,50,DE,M
165,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L
166,2021,EN,FT,Data Engineer,80000,USD,80000,US,100,US,L
167,2021,EX,FT,Director of Data Science,250000,USD,250000,US,0,US,L
168,2021,EN,FT,BI Data Analyst,55000,USD,55000,US,50,US,S
169,2021,MI,FT,Data Architect,150000,USD,150000,US,100,US,L
170,2021,MI,FT,Data Architect,170000,USD,170000,US,100,US,L
171,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
172,2021,EN,FT,Data Analyst,60000,USD,60000,US,100,US,S
173,2021,SE,FT,Principal Data Scientist,235000,USD,235000,US,100,US,L
174,2021,SE,FT,Research Scientist,51400,EUR,60757,PT,50,PT,L
175,2021,SE,FT,Data Engineering Manager,174000,USD,174000,US,100,US,L
176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
178,2021,EN,FT,Machine Learning Engineer,81000,USD,81000,US,50,US,S
179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S
180,2021,MI,FT,Big Data Engineer,1672000,INR,22611,IN,0,IN,L
181,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
182,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
183,2021,SE,FT,Finance Data Analyst,45000,GBP,61896,GB,50,GB,L
184,2021,MI,FL,Machine Learning Scientist,12000,USD,12000,PK,50,PK,M
185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
186,2021,SE,FT,Data Analytics Engineer,50000,USD,50000,VN,100,GB,M
187,2021,EX,FT,Data Science Consultant,59000,EUR,69741,FR,100,ES,S
188,2021,SE,FT,Data Engineer,65000,EUR,76833,RO,50,GB,S
189,2021,MI,FT,Machine Learning Engineer,74000,USD,74000,JP,50,JP,S
190,2021,SE,FT,Data Science Manager,152000,USD,152000,US,100,FR,L
191,2021,EN,FT,Machine Learning Engineer,21844,USD,21844,CO,50,CO,M
192,2021,MI,FT,Big Data Engineer,18000,USD,18000,MD,0,MD,S
193,2021,SE,FT,Data Science Manager,174000,USD,174000,US,100,US,L
194,2021,SE,FT,Research Scientist,120500,CAD,96113,CA,50,CA,L
195,2021,MI,FT,Data Scientist,147000,USD,147000,US,50,US,L
196,2021,EN,FT,BI Data Analyst,9272,USD,9272,KE,100,KE,S
197,2021,SE,FT,Machine Learning Engineer,1799997,INR,24342,IN,100,IN,L
198,2021,SE,FT,Data Science Manager,4000000,INR,54094,IN,50,US,L
199,2021,EN,FT,Data Science Consultant,90000,USD,90000,US,100,US,S

In [19]:
## to see all rows
pd.set_option('display.max_rows', None)

df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
30,2020,MI,FT,Data Engineering Manager,51999,EUR,59303,DE,100,DE,S
31,2020,EN,FT,Big Data Engineer,70000,USD,70000,US,100,US,L
32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
33,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
34,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
36,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
38,2020,EN,FT,Data Analyst,10000,USD,10000,NG,100,NG,S
39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S
40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
41,2020,EX,FT,Data Engineering Manager,70000,EUR,79833,ES,50,ES,L
42,2020,MI,FT,Machine Learning Infrastructure Engineer,44000,EUR,50180,PT,0,PT,M
43,2020,MI,FT,Data Engineer,106000,USD,106000,US,100,US,L
44,2020,MI,FT,Data Engineer,88000,GBP,112872,GB,50,GB,L
45,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S
46,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
47,2020,SE,FT,Data Engineer,188000,USD,188000,US,100,US,L
48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
49,2020,MI,FT,Data Engineer,61500,EUR,70139,FR,50,FR,L
50,2020,EN,FT,Data Analyst,450000,INR,6072,IN,0,IN,S
51,2020,EN,FT,Data Analyst,91000,USD,91000,US,100,US,L
52,2020,EN,FT,AI Scientist,300000,DKK,45896,DK,50,DK,S
53,2020,EN,FT,Data Engineer,48000,EUR,54742,PK,100,DE,L
54,2020,SE,FL,Computer Vision Engineer,60000,USD,60000,RU,100,US,S
55,2020,SE,FT,Principal Data Scientist,130000,EUR,148261,DE,100,DE,M
56,2020,MI,FT,Data Scientist,34000,EUR,38776,ES,100,ES,M
57,2020,MI,FT,Data Scientist,118000,USD,118000,US,100,US,M
58,2020,SE,FT,Data Scientist,120000,USD,120000,US,50,US,L
59,2020,MI,FT,Data Scientist,138350,USD,138350,US,100,US,M
60,2020,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
61,2020,MI,FT,Data Engineer,130800,USD,130800,ES,100,US,M
62,2020,EN,PT,Data Scientist,19000,EUR,21669,IT,50,IT,S
63,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
64,2020,SE,FT,Machine Learning Engineer,40000,EUR,45618,HR,100,HR,S
65,2020,EN,FT,Data Scientist,55000,EUR,62726,DE,50,DE,S
66,2020,EN,FT,Data Scientist,43200,EUR,49268,DE,0,DE,S
67,2020,SE,FT,Data Science Manager,190200,USD,190200,US,100,US,M
68,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
69,2020,SE,FT,Data Scientist,80000,EUR,91237,AT,0,AT,S
70,2020,MI,FT,Data Scientist,55000,EUR,62726,FR,50,LU,S
71,2020,MI,FT,Data Scientist,37000,EUR,42197,FR,50,FR,S
72,2021,EN,FT,Research Scientist,60000,GBP,82528,GB,50,GB,L
73,2021,EX,FT,BI Data Analyst,150000,USD,150000,IN,100,US,L
74,2021,EX,FT,Head of Data,235000,USD,235000,US,100,US,L
75,2021,SE,FT,Data Scientist,45000,EUR,53192,FR,50,FR,L
76,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
77,2021,MI,PT,3D Computer Vision Researcher,400000,INR,5409,IN,50,IN,M
78,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
79,2021,EN,FT,Data Analyst,80000,USD,80000,US,100,US,M
80,2021,SE,FT,Data Analytics Engineer,67000,EUR,79197,DE,100,DE,L
81,2021,MI,FT,Data Engineer,140000,USD,140000,US,100,US,L
82,2021,MI,FT,Applied Data Scientist,68000,CAD,54238,GB,50,CA,L
83,2021,MI,FT,Machine Learning Engineer,40000,EUR,47282,ES,100,ES,S
84,2021,EX,FT,Director of Data Science,130000,EUR,153667,IT,100,PL,L
85,2021,MI,FT,Data Engineer,110000,PLN,28476,PL,100,PL,L
86,2021,EN,FT,Data Analyst,50000,EUR,59102,FR,50,FR,M
87,2021,MI,FT,Data Analytics Engineer,110000,USD,110000,US,100,US,L
88,2021,SE,FT,Lead Data Analyst,170000,USD,170000,US,100,US,L
89,2021,SE,FT,Data Analyst,80000,USD,80000,BG,100,US,S
90,2021,SE,FT,Marketing Data Analyst,75000,EUR,88654,GR,100,DK,L
91,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,100,DE,S
92,2021,MI,FT,Lead Data Analyst,1450000,INR,19609,IN,100,IN,L
93,2021,SE,FT,Lead Data Engineer,276000,USD,276000,US,0,US,L
94,2021,EN,FT,Data Scientist,2200000,INR,29751,IN,50,IN,L
95,2021,MI,FT,Cloud Data Engineer,120000,SGD,89294,SG,50,SG,L
96,2021,EN,PT,AI Scientist,12000,USD,12000,BR,100,US,S
97,2021,MI,FT,Financial Data Analyst,450000,USD,450000,US,100,US,L
98,2021,EN,FT,Computer Vision Software Engineer,70000,USD,70000,US,100,US,M
99,2021,MI,FT,Computer Vision Software Engineer,81000,EUR,95746,DE,100,US,S
100,2021,MI,FT,Data Analyst,75000,USD,75000,US,0,US,L
101,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,L
102,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
103,2021,MI,FT,Data Analyst,62000,USD,62000,US,0,US,L
104,2021,MI,FT,Data Scientist,73000,USD,73000,US,0,US,L
105,2021,MI,FT,Data Analyst,37456,GBP,51519,GB,50,GB,L
106,2021,MI,FT,Research Scientist,235000,CAD,187442,CA,100,CA,L
107,2021,SE,FT,Data Engineer,115000,USD,115000,US,100,US,S
108,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,M
109,2021,EN,FT,Data Engineer,2250000,INR,30428,IN,100,IN,L
110,2021,SE,FT,Machine Learning Engineer,80000,EUR,94564,DE,50,DE,L
111,2021,SE,FT,Director of Data Engineering,82500,GBP,113476,GB,100,GB,M
112,2021,SE,FT,Lead Data Engineer,75000,GBP,103160,GB,100,GB,S
113,2021,EN,PT,AI Scientist,12000,USD,12000,PK,100,US,M
114,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
115,2021,EN,FT,Machine Learning Scientist,225000,USD,225000,US,100,US,L
116,2021,MI,FT,Data Scientist,50000,USD,50000,NG,100,NG,L
117,2021,MI,FT,Data Science Engineer,34000,EUR,40189,GR,100,GR,M
118,2021,EN,FT,Data Analyst,90000,USD,90000,US,100,US,S
119,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
120,2021,MI,FT,Big Data Engineer,60000,USD,60000,ES,50,RO,M
121,2021,SE,FT,Principal Data Engineer,200000,USD,200000,US,100,US,M
122,2021,EN,FT,Data Analyst,50000,USD,50000,US,100,US,M
123,2021,EN,FT,Applied Data Scientist,80000,GBP,110037,GB,0,GB,L
124,2021,EN,PT,Data Analyst,8760,EUR,10354,ES,50,ES,M
125,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
126,2021,SE,FT,Machine Learning Scientist,120000,USD,120000,US,50,US,S
127,2021,MI,FT,Data Scientist,700000,INR,9466,IN,0,IN,S
128,2021,EN,FT,Machine Learning Engineer,20000,USD,20000,IN,100,IN,S
129,2021,SE,FT,Lead Data Scientist,3000000,INR,40570,IN,50,IN,L
130,2021,EN,FT,Machine Learning Developer,100000,USD,100000,IQ,50,IQ,S
131,2021,EN,FT,Data Scientist,42000,EUR,49646,FR,50,FR,M
132,2021,MI,FT,Applied Machine Learning Scientist,38400,USD,38400,VN,100,US,M
133,2021,SE,FT,Computer Vision Engineer,24000,USD,24000,BR,100,BR,M
134,2021,EN,FT,Data Scientist,100000,USD,100000,US,0,US,S
135,2021,MI,FT,Data Analyst,90000,USD,90000,US,100,US,M
136,2021,MI,FT,ML Engineer,7000000,JPY,63711,JP,50,JP,S
137,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
138,2021,SE,FT,Principal Data Scientist,220000,USD,220000,US,0,US,L
139,2021,EN,FT,Data Scientist,80000,USD,80000,US,100,US,M
140,2021,MI,FT,Data Analyst,135000,USD,135000,US,100,US,L
141,2021,SE,FT,Data Science Manager,240000,USD,240000,US,0,US,L
142,2021,SE,FT,Data Engineering Manager,150000,USD,150000,US,0,US,L
143,2021,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
144,2021,MI,FT,Data Engineer,100000,USD,100000,US,100,US,L
145,2021,SE,FT,Machine Learning Engineer,70000,EUR,82744,BE,50,BE,M
146,2021,MI,FT,Research Scientist,53000,EUR,62649,FR,50,FR,M
147,2021,MI,FT,Data Engineer,90000,USD,90000,US,100,US,L
148,2021,SE,FT,Data Engineering Manager,153000,USD,153000,US,100,US,L
149,2021,SE,FT,Cloud Data Engineer,160000,USD,160000,BR,100,US,S
150,2021,SE,FT,Director of Data Science,168000,USD,168000,JP,0,JP,S
151,2021,MI,FT,Data Scientist,150000,USD,150000,US,100,US,M
152,2021,MI,FT,Data Scientist,95000,CAD,75774,CA,100,CA,L
153,2021,EN,FT,Data Scientist,13400,USD,13400,UA,100,UA,L
154,2021,SE,FT,Data Science Manager,144000,USD,144000,US,100,US,L
155,2021,SE,FT,Data Science Engineer,159500,CAD,127221,CA,50,CA,L
156,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
157,2021,MI,FT,Applied Machine Learning Scientist,423000,USD,423000,US,50,US,L
158,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
159,2021,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
160,2021,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
161,2021,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
162,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L
163,2021,EN,FT,Data Science Consultant,54000,EUR,63831,DE,50,DE,L
164,2021,EX,FT,Director of Data Science,110000,EUR,130026,DE,50,DE,M
165,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L
166,2021,EN,FT,Data Engineer,80000,USD,80000,US,100,US,L
167,2021,EX,FT,Director of Data Science,250000,USD,250000,US,0,US,L
168,2021,EN,FT,BI Data Analyst,55000,USD,55000,US,50,US,S
169,2021,MI,FT,Data Architect,150000,USD,150000,US,100,US,L
170,2021,MI,FT,Data Architect,170000,USD,170000,US,100,US,L
171,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
172,2021,EN,FT,Data Analyst,60000,USD,60000,US,100,US,S
173,2021,SE,FT,Principal Data Scientist,235000,USD,235000,US,100,US,L
174,2021,SE,FT,Research Scientist,51400,EUR,60757,PT,50,PT,L
175,2021,SE,FT,Data Engineering Manager,174000,USD,174000,US,100,US,L
176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
178,2021,EN,FT,Machine Learning Engineer,81000,USD,81000,US,50,US,S
179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S
180,2021,MI,FT,Big Data Engineer,1672000,INR,22611,IN,0,IN,L
181,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
182,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
183,2021,SE,FT,Finance Data Analyst,45000,GBP,61896,GB,50,GB,L
184,2021,MI,FL,Machine Learning Scientist,12000,USD,12000,PK,50,PK,M
185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
186,2021,SE,FT,Data Analytics Engineer,50000,USD,50000,VN,100,GB,M
187,2021,EX,FT,Data Science Consultant,59000,EUR,69741,FR,100,ES,S
188,2021,SE,FT,Data Engineer,65000,EUR,76833,RO,50,GB,S
189,2021,MI,FT,Machine Learning Engineer,74000,USD,74000,JP,50,JP,S
190,2021,SE,FT,Data Science Manager,152000,USD,152000,US,100,FR,L
191,2021,EN,FT,Machine Learning Engineer,21844,USD,21844,CO,50,CO,M
192,2021,MI,FT,Big Data Engineer,18000,USD,18000,MD,0,MD,S
193,2021,SE,FT,Data Science Manager,174000,USD,174000,US,100,US,L
194,2021,SE,FT,Research Scientist,120500,CAD,96113,CA,50,CA,L
195,2021,MI,FT,Data Scientist,147000,USD,147000,US,50,US,L
196,2021,EN,FT,BI Data Analyst,9272,USD,9272,KE,100,KE,S
197,2021,SE,FT,Machine Learning Engineer,1799997,INR,24342,IN,100,IN,L
198,2021,SE,FT,Data Science Manager,4000000,INR,54094,IN,50,US,L
199,2021,EN,FT,Data Science Consultant,90000,USD,90000,US,100,US,S
200,2021,MI,FT,Data Scientist,52000,EUR,61467,DE,50,AT,M
201,2021,SE,FT,Machine Learning Infrastructure Engineer,195000,USD,195000,US,100,US,M
202,2021,MI,FT,Data Scientist,32000,EUR,37825,ES,100,ES,L
203,2021,SE,FT,Research Scientist,50000,USD,50000,FR,100,US,S
204,2021,MI,FT,Data Scientist,160000,USD,160000,US,100,US,L
205,2021,MI,FT,Data Scientist,69600,BRL,12901,BR,0,BR,S
206,2021,SE,FT,Machine Learning Engineer,200000,USD,200000,US,100,US,L
207,2021,SE,FT,Data Engineer,165000,USD,165000,US,0,US,M
208,2021,MI,FL,Data Engineer,20000,USD,20000,IT,0,US,L
209,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,0,US,L
210,2021,MI,FT,Machine Learning Engineer,21000,EUR,24823,SI,50,SI,L
211,2021,MI,FT,Research Scientist,48000,EUR,56738,FR,50,FR,S
212,2021,MI,FT,Data Engineer,48000,GBP,66022,HK,50,GB,S
213,2021,EN,FT,Big Data Engineer,435000,INR,5882,IN,0,CH,L
214,2021,EN,FT,Machine Learning Engineer,21000,EUR,24823,DE,50,DE,M
215,2021,SE,FT,Principal Data Engineer,185000,USD,185000,US,100,US,L
216,2021,EN,PT,Computer Vision Engineer,180000,DKK,28609,DK,50,DK,S
217,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
218,2021,MI,FT,Machine Learning Engineer,75000,EUR,88654,BE,100,BE,M
219,2021,SE,FT,Data Analytics Manager,140000,USD,140000,US,100,US,L
220,2021,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
221,2021,MI,FT,Data Scientist,85000,GBP,116914,GB,50,GB,L
222,2021,MI,FT,Data Scientist,2500000,INR,33808,IN,0,IN,M
223,2021,MI,FT,Data Scientist,40900,GBP,56256,GB,50,GB,L
224,2021,SE,FT,Machine Learning Scientist,225000,USD,225000,US,100,CA,L
225,2021,EX,CT,Principal Data Scientist,416000,USD,416000,US,100,US,S
226,2021,SE,FT,Data Scientist,110000,CAD,87738,CA,100,CA,S
227,2021,MI,FT,Data Scientist,75000,EUR,88654,DE,50,DE,L
228,2021,SE,FT,Data Scientist,135000,USD,135000,US,0,US,L
229,2021,SE,FT,Data Analyst,90000,CAD,71786,CA,100,CA,M
230,2021,EN,FT,Big Data Engineer,1200000,INR,16228,IN,100,IN,L
231,2021,SE,FT,ML Engineer,256000,USD,256000,US,100,US,S
232,2021,SE,FT,Director of Data Engineering,200000,USD,200000,US,100,US,L
233,2021,SE,FT,Data Analyst,200000,USD,200000,US,100,US,L
234,2021,MI,FT,Data Architect,180000,USD,180000,US,100,US,L
235,2021,MI,FT,Head of Data Science,110000,USD,110000,US,0,US,S
236,2021,MI,FT,Research Scientist,80000,CAD,63810,CA,100,CA,M
237,2021,MI,FT,Data Scientist,39600,EUR,46809,ES,100,ES,M
238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M
239,2021,EN,FT,Data Engineer,1600000,INR,21637,IN,50,IN,M
240,2021,SE,FT,Data Scientist,130000,CAD,103691,CA,100,CA,L
241,2021,MI,FT,Data Analyst,80000,USD,80000,US,100,US,L
242,2021,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
243,2021,SE,FT,Data Scientist,165000,USD,165000,US,100,US,L
244,2021,EN,FT,AI Scientist,1335000,INR,18053,IN,100,AS,S
245,2021,MI,FT,Data Engineer,52500,GBP,72212,GB,50,GB,L
246,2021,EN,FT,Data Scientist,31000,EUR,36643,FR,50,FR,L
247,2021,MI,FT,Data Engineer,108000,TRY,12103,TR,0,TR,M
248,2021,SE,FT,Data Engineer,70000,GBP,96282,GB,50,GB,L
249,2021,SE,FT,Principal Data Analyst,170000,USD,170000,US,100,US,M
250,2021,MI,FT,Data Scientist,115000,USD,115000,US,50,US,L
251,2021,EN,FT,Data Scientist,90000,USD,90000,US,100,US,S
252,2021,EX,FT,Principal Data Engineer,600000,USD,600000,US,100,US,L
253,2021,EN,FT,Data Scientist,2100000,INR,28399,IN,100,IN,M
254,2021,MI,FT,Data Analyst,93000,USD,93000,US,100,US,L
255,2021,SE,FT,Big Data Architect,125000,CAD,99703,CA,50,CA,M
256,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
257,2021,SE,FT,Principal Data Scientist,147000,EUR,173762,DE,100,DE,M
258,2021,SE,FT,Machine Learning Engineer,185000,USD,185000,US,50,US,L
259,2021,EX,FT,Director of Data Science,120000,EUR,141846,DE,0,DE,L
260,2021,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L
261,2021,SE,FT,Data Analyst,54000,EUR,63831,DE,50,DE,L
262,2021,MI,FT,Data Scientist,1250000,INR,16904,IN,100,IN,S
263,2021,SE,FT,Machine Learning Engineer,4900000,INR,66265,IN,0,IN,L
264,2021,MI,FT,Data Scientist,21600,EUR,25532,RS,100,DE,S
265,2021,SE,FT,Lead Data Engineer,160000,USD,160000,PR,50,US,S
266,2021,MI,FT,Data Engineer,93150,USD,93150,US,0,US,M
267,2021,MI,FT,Data Engineer,111775,USD,111775,US,0,US,M
268,2021,MI,FT,Data Engineer,250000,TRY,28016,TR,100,TR,M
269,2021,EN,FT,Data Engineer,55000,EUR,65013,DE,50,DE,M
270,2021,EN,FT,Data Engineer,72500,USD,72500,US,100,US,L
271,2021,SE,FT,Computer Vision Engineer,102000,BRL,18907,BR,0,BR,M
272,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,0,DE,L
273,2021,EN,FT,Machine Learning Engineer,85000,USD,85000,NL,100,DE,S
274,2021,SE,FT,Data Scientist,65720,EUR,77684,FR,50,FR,M
275,2021,EN,FT,Data Scientist,100000,USD,100000,US,100,US,M
276,2021,EN,FT,Data Scientist,58000,USD,58000,US,50,US,L
277,2021,SE,FT,AI Scientist,55000,USD,55000,ES,100,ES,L
278,2021,SE,FT,Data Scientist,180000,TRY,20171,TR,50,TR,L
279,2021,EN,FT,Business Data Analyst,50000,EUR,59102,LU,100,LU,L
280,2021,MI,FT,Data Engineer,112000,USD,112000,US,100,US,L
281,2021,EN,FT,Research Scientist,100000,USD,100000,JE,0,CN,L
282,2021,MI,PT,Data Engineer,59000,EUR,69741,NL,100,NL,L
283,2021,SE,CT,Staff Data Scientist,105000,USD,105000,US,100,US,M
284,2021,MI,FT,Research Scientist,69999,USD,69999,CZ,50,CZ,L
285,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L
286,2021,SE,FT,Head of Data,87000,EUR,102839,SI,100,SI,L
287,2021,MI,FT,Data Scientist,109000,USD,109000,US,50,US,L
288,2021,MI,FT,Machine Learning Engineer,43200,EUR,51064,IT,50,IT,L
289,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
290,2022,SE,FT,Data Analyst,155000,USD,155000,US,100,US,M
291,2022,SE,FT,Data Analyst,120600,USD,120600,US,100,US,M
292,2022,MI,FT,Data Scientist,130000,USD,130000,US,0,US,M
293,2022,MI,FT,Data Scientist,90000,USD,90000,US,0,US,M
294,2022,MI,FT,Data Engineer,170000,USD,170000,US,100,US,M
295,2022,MI,FT,Data Engineer,150000,USD,150000,US,100,US,M
296,2022,SE,FT,Data Analyst,102100,USD,102100,US,100,US,M
297,2022,SE,FT,Data Analyst,84900,USD,84900,US,100,US,M
298,2022,SE,FT,Data Scientist,136620,USD,136620,US,100,US,M
299,2022,SE,FT,Data Scientist,99360,USD,99360,US,100,US,M
300,2022,SE,FT,Data Scientist,90000,GBP,117789,GB,0,GB,M
301,2022,SE,FT,Data Scientist,80000,GBP,104702,GB,0,GB,M
302,2022,SE,FT,Data Scientist,146000,USD,146000,US,100,US,M
303,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
304,2022,EN,FT,Data Engineer,40000,GBP,52351,GB,100,GB,M
305,2022,SE,FT,Data Analyst,99000,USD,99000,US,0,US,M
306,2022,SE,FT,Data Analyst,116000,USD,116000,US,0,US,M
307,2022,MI,FT,Data Analyst,106260,USD,106260,US,0,US,M
308,2022,MI,FT,Data Analyst,126500,USD,126500,US,0,US,M
309,2022,EX,FT,Data Engineer,242000,USD,242000,US,100,US,M
310,2022,EX,FT,Data Engineer,200000,USD,200000,US,100,US,M
311,2022,MI,FT,Data Scientist,50000,GBP,65438,GB,0,GB,M
312,2022,MI,FT,Data Scientist,30000,GBP,39263,GB,0,GB,M
313,2022,MI,FT,Data Engineer,60000,GBP,78526,GB,0,GB,M
314,2022,MI,FT,Data Engineer,40000,GBP,52351,GB,0,GB,M
315,2022,SE,FT,Data Scientist,165220,USD,165220,US,100,US,M
316,2022,EN,FT,Data Engineer,35000,GBP,45807,GB,100,GB,M
317,2022,SE,FT,Data Scientist,120160,USD,120160,US,100,US,M
318,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
319,2022,SE,FT,Data Engineer,181940,USD,181940,US,0,US,M
320,2022,SE,FT,Data Engineer,132320,USD,132320,US,0,US,M
321,2022,SE,FT,Data Engineer,220110,USD,220110,US,0,US,M
322,2022,SE,FT,Data Engineer,160080,USD,160080,US,0,US,M
323,2022,SE,FT,Data Scientist,180000,USD,180000,US,0,US,L
324,2022,SE,FT,Data Scientist,120000,USD,120000,US,0,US,L

In [20]:
# Print from index 0 to 2 (2 is excluded) => 0 to 1
df[0:3]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M

In [21]:
# OR (if we didn't specify the first index it means 0)
df[:1]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L

In [22]:
# Print all rows except last 2
df[:-2]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
30,2020,MI,FT,Data Engineering Manager,51999,EUR,59303,DE,100,DE,S
31,2020,EN,FT,Big Data Engineer,70000,USD,70000,US,100,US,L
32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
33,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
34,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
36,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
38,2020,EN,FT,Data Analyst,10000,USD,10000,NG,100,NG,S
39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S
40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
41,2020,EX,FT,Data Engineering Manager,70000,EUR,79833,ES,50,ES,L
42,2020,MI,FT,Machine Learning Infrastructure Engineer,44000,EUR,50180,PT,0,PT,M
43,2020,MI,FT,Data Engineer,106000,USD,106000,US,100,US,L
44,2020,MI,FT,Data Engineer,88000,GBP,112872,GB,50,GB,L
45,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S
46,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
47,2020,SE,FT,Data Engineer,188000,USD,188000,US,100,US,L
48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
49,2020,MI,FT,Data Engineer,61500,EUR,70139,FR,50,FR,L
50,2020,EN,FT,Data Analyst,450000,INR,6072,IN,0,IN,S
51,2020,EN,FT,Data Analyst,91000,USD,91000,US,100,US,L
52,2020,EN,FT,AI Scientist,300000,DKK,45896,DK,50,DK,S
53,2020,EN,FT,Data Engineer,48000,EUR,54742,PK,100,DE,L
54,2020,SE,FL,Computer Vision Engineer,60000,USD,60000,RU,100,US,S
55,2020,SE,FT,Principal Data Scientist,130000,EUR,148261,DE,100,DE,M
56,2020,MI,FT,Data Scientist,34000,EUR,38776,ES,100,ES,M
57,2020,MI,FT,Data Scientist,118000,USD,118000,US,100,US,M
58,2020,SE,FT,Data Scientist,120000,USD,120000,US,50,US,L
59,2020,MI,FT,Data Scientist,138350,USD,138350,US,100,US,M
60,2020,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
61,2020,MI,FT,Data Engineer,130800,USD,130800,ES,100,US,M
62,2020,EN,PT,Data Scientist,19000,EUR,21669,IT,50,IT,S
63,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
64,2020,SE,FT,Machine Learning Engineer,40000,EUR,45618,HR,100,HR,S
65,2020,EN,FT,Data Scientist,55000,EUR,62726,DE,50,DE,S
66,2020,EN,FT,Data Scientist,43200,EUR,49268,DE,0,DE,S
67,2020,SE,FT,Data Science Manager,190200,USD,190200,US,100,US,M
68,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
69,2020,SE,FT,Data Scientist,80000,EUR,91237,AT,0,AT,S
70,2020,MI,FT,Data Scientist,55000,EUR,62726,FR,50,LU,S
71,2020,MI,FT,Data Scientist,37000,EUR,42197,FR,50,FR,S
72,2021,EN,FT,Research Scientist,60000,GBP,82528,GB,50,GB,L
73,2021,EX,FT,BI Data Analyst,150000,USD,150000,IN,100,US,L
74,2021,EX,FT,Head of Data,235000,USD,235000,US,100,US,L
75,2021,SE,FT,Data Scientist,45000,EUR,53192,FR,50,FR,L
76,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
77,2021,MI,PT,3D Computer Vision Researcher,400000,INR,5409,IN,50,IN,M
78,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
79,2021,EN,FT,Data Analyst,80000,USD,80000,US,100,US,M
80,2021,SE,FT,Data Analytics Engineer,67000,EUR,79197,DE,100,DE,L
81,2021,MI,FT,Data Engineer,140000,USD,140000,US,100,US,L
82,2021,MI,FT,Applied Data Scientist,68000,CAD,54238,GB,50,CA,L
83,2021,MI,FT,Machine Learning Engineer,40000,EUR,47282,ES,100,ES,S
84,2021,EX,FT,Director of Data Science,130000,EUR,153667,IT,100,PL,L
85,2021,MI,FT,Data Engineer,110000,PLN,28476,PL,100,PL,L
86,2021,EN,FT,Data Analyst,50000,EUR,59102,FR,50,FR,M
87,2021,MI,FT,Data Analytics Engineer,110000,USD,110000,US,100,US,L
88,2021,SE,FT,Lead Data Analyst,170000,USD,170000,US,100,US,L
89,2021,SE,FT,Data Analyst,80000,USD,80000,BG,100,US,S
90,2021,SE,FT,Marketing Data Analyst,75000,EUR,88654,GR,100,DK,L
91,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,100,DE,S
92,2021,MI,FT,Lead Data Analyst,1450000,INR,19609,IN,100,IN,L
93,2021,SE,FT,Lead Data Engineer,276000,USD,276000,US,0,US,L
94,2021,EN,FT,Data Scientist,2200000,INR,29751,IN,50,IN,L
95,2021,MI,FT,Cloud Data Engineer,120000,SGD,89294,SG,50,SG,L
96,2021,EN,PT,AI Scientist,12000,USD,12000,BR,100,US,S
97,2021,MI,FT,Financial Data Analyst,450000,USD,450000,US,100,US,L
98,2021,EN,FT,Computer Vision Software Engineer,70000,USD,70000,US,100,US,M
99,2021,MI,FT,Computer Vision Software Engineer,81000,EUR,95746,DE,100,US,S
100,2021,MI,FT,Data Analyst,75000,USD,75000,US,0,US,L
101,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,L
102,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
103,2021,MI,FT,Data Analyst,62000,USD,62000,US,0,US,L
104,2021,MI,FT,Data Scientist,73000,USD,73000,US,0,US,L
105,2021,MI,FT,Data Analyst,37456,GBP,51519,GB,50,GB,L
106,2021,MI,FT,Research Scientist,235000,CAD,187442,CA,100,CA,L
107,2021,SE,FT,Data Engineer,115000,USD,115000,US,100,US,S
108,2021,SE,FT,Data Engineer,150000,USD,150000,US,100,US,M
109,2021,EN,FT,Data Engineer,2250000,INR,30428,IN,100,IN,L
110,2021,SE,FT,Machine Learning Engineer,80000,EUR,94564,DE,50,DE,L
111,2021,SE,FT,Director of Data Engineering,82500,GBP,113476,GB,100,GB,M
112,2021,SE,FT,Lead Data Engineer,75000,GBP,103160,GB,100,GB,S
113,2021,EN,PT,AI Scientist,12000,USD,12000,PK,100,US,M
114,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
115,2021,EN,FT,Machine Learning Scientist,225000,USD,225000,US,100,US,L
116,2021,MI,FT,Data Scientist,50000,USD,50000,NG,100,NG,L
117,2021,MI,FT,Data Science Engineer,34000,EUR,40189,GR,100,GR,M
118,2021,EN,FT,Data Analyst,90000,USD,90000,US,100,US,S
119,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
120,2021,MI,FT,Big Data Engineer,60000,USD,60000,ES,50,RO,M
121,2021,SE,FT,Principal Data Engineer,200000,USD,200000,US,100,US,M
122,2021,EN,FT,Data Analyst,50000,USD,50000,US,100,US,M
123,2021,EN,FT,Applied Data Scientist,80000,GBP,110037,GB,0,GB,L
124,2021,EN,PT,Data Analyst,8760,EUR,10354,ES,50,ES,M
125,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
126,2021,SE,FT,Machine Learning Scientist,120000,USD,120000,US,50,US,S
127,2021,MI,FT,Data Scientist,700000,INR,9466,IN,0,IN,S
128,2021,EN,FT,Machine Learning Engineer,20000,USD,20000,IN,100,IN,S
129,2021,SE,FT,Lead Data Scientist,3000000,INR,40570,IN,50,IN,L
130,2021,EN,FT,Machine Learning Developer,100000,USD,100000,IQ,50,IQ,S
131,2021,EN,FT,Data Scientist,42000,EUR,49646,FR,50,FR,M
132,2021,MI,FT,Applied Machine Learning Scientist,38400,USD,38400,VN,100,US,M
133,2021,SE,FT,Computer Vision Engineer,24000,USD,24000,BR,100,BR,M
134,2021,EN,FT,Data Scientist,100000,USD,100000,US,0,US,S
135,2021,MI,FT,Data Analyst,90000,USD,90000,US,100,US,M
136,2021,MI,FT,ML Engineer,7000000,JPY,63711,JP,50,JP,S
137,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
138,2021,SE,FT,Principal Data Scientist,220000,USD,220000,US,0,US,L
139,2021,EN,FT,Data Scientist,80000,USD,80000,US,100,US,M
140,2021,MI,FT,Data Analyst,135000,USD,135000,US,100,US,L
141,2021,SE,FT,Data Science Manager,240000,USD,240000,US,0,US,L
142,2021,SE,FT,Data Engineering Manager,150000,USD,150000,US,0,US,L
143,2021,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
144,2021,MI,FT,Data Engineer,100000,USD,100000,US,100,US,L
145,2021,SE,FT,Machine Learning Engineer,70000,EUR,82744,BE,50,BE,M
146,2021,MI,FT,Research Scientist,53000,EUR,62649,FR,50,FR,M
147,2021,MI,FT,Data Engineer,90000,USD,90000,US,100,US,L
148,2021,SE,FT,Data Engineering Manager,153000,USD,153000,US,100,US,L
149,2021,SE,FT,Cloud Data Engineer,160000,USD,160000,BR,100,US,S
150,2021,SE,FT,Director of Data Science,168000,USD,168000,JP,0,JP,S
151,2021,MI,FT,Data Scientist,150000,USD,150000,US,100,US,M
152,2021,MI,FT,Data Scientist,95000,CAD,75774,CA,100,CA,L
153,2021,EN,FT,Data Scientist,13400,USD,13400,UA,100,UA,L
154,2021,SE,FT,Data Science Manager,144000,USD,144000,US,100,US,L
155,2021,SE,FT,Data Science Engineer,159500,CAD,127221,CA,50,CA,L
156,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
157,2021,MI,FT,Applied Machine Learning Scientist,423000,USD,423000,US,50,US,L
158,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
159,2021,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
160,2021,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
161,2021,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
162,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L
163,2021,EN,FT,Data Science Consultant,54000,EUR,63831,DE,50,DE,L
164,2021,EX,FT,Director of Data Science,110000,EUR,130026,DE,50,DE,M
165,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L
166,2021,EN,FT,Data Engineer,80000,USD,80000,US,100,US,L
167,2021,EX,FT,Director of Data Science,250000,USD,250000,US,0,US,L
168,2021,EN,FT,BI Data Analyst,55000,USD,55000,US,50,US,S
169,2021,MI,FT,Data Architect,150000,USD,150000,US,100,US,L
170,2021,MI,FT,Data Architect,170000,USD,170000,US,100,US,L
171,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
172,2021,EN,FT,Data Analyst,60000,USD,60000,US,100,US,S
173,2021,SE,FT,Principal Data Scientist,235000,USD,235000,US,100,US,L
174,2021,SE,FT,Research Scientist,51400,EUR,60757,PT,50,PT,L
175,2021,SE,FT,Data Engineering Manager,174000,USD,174000,US,100,US,L
176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
178,2021,EN,FT,Machine Learning Engineer,81000,USD,81000,US,50,US,S
179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S
180,2021,MI,FT,Big Data Engineer,1672000,INR,22611,IN,0,IN,L
181,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
182,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
183,2021,SE,FT,Finance Data Analyst,45000,GBP,61896,GB,50,GB,L
184,2021,MI,FL,Machine Learning Scientist,12000,USD,12000,PK,50,PK,M
185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
186,2021,SE,FT,Data Analytics Engineer,50000,USD,50000,VN,100,GB,M
187,2021,EX,FT,Data Science Consultant,59000,EUR,69741,FR,100,ES,S
188,2021,SE,FT,Data Engineer,65000,EUR,76833,RO,50,GB,S
189,2021,MI,FT,Machine Learning Engineer,74000,USD,74000,JP,50,JP,S
190,2021,SE,FT,Data Science Manager,152000,USD,152000,US,100,FR,L
191,2021,EN,FT,Machine Learning Engineer,21844,USD,21844,CO,50,CO,M
192,2021,MI,FT,Big Data Engineer,18000,USD,18000,MD,0,MD,S
193,2021,SE,FT,Data Science Manager,174000,USD,174000,US,100,US,L
194,2021,SE,FT,Research Scientist,120500,CAD,96113,CA,50,CA,L
195,2021,MI,FT,Data Scientist,147000,USD,147000,US,50,US,L
196,2021,EN,FT,BI Data Analyst,9272,USD,9272,KE,100,KE,S
197,2021,SE,FT,Machine Learning Engineer,1799997,INR,24342,IN,100,IN,L
198,2021,SE,FT,Data Science Manager,4000000,INR,54094,IN,50,US,L
199,2021,EN,FT,Data Science Consultant,90000,USD,90000,US,100,US,S
200,2021,MI,FT,Data Scientist,52000,EUR,61467,DE,50,AT,M
201,2021,SE,FT,Machine Learning Infrastructure Engineer,195000,USD,195000,US,100,US,M
202,2021,MI,FT,Data Scientist,32000,EUR,37825,ES,100,ES,L
203,2021,SE,FT,Research Scientist,50000,USD,50000,FR,100,US,S
204,2021,MI,FT,Data Scientist,160000,USD,160000,US,100,US,L
205,2021,MI,FT,Data Scientist,69600,BRL,12901,BR,0,BR,S
206,2021,SE,FT,Machine Learning Engineer,200000,USD,200000,US,100,US,L
207,2021,SE,FT,Data Engineer,165000,USD,165000,US,0,US,M
208,2021,MI,FL,Data Engineer,20000,USD,20000,IT,0,US,L
209,2021,SE,FT,Data Analytics Manager,120000,USD,120000,US,0,US,L
210,2021,MI,FT,Machine Learning Engineer,21000,EUR,24823,SI,50,SI,L
211,2021,MI,FT,Research Scientist,48000,EUR,56738,FR,50,FR,S
212,2021,MI,FT,Data Engineer,48000,GBP,66022,HK,50,GB,S
213,2021,EN,FT,Big Data Engineer,435000,INR,5882,IN,0,CH,L
214,2021,EN,FT,Machine Learning Engineer,21000,EUR,24823,DE,50,DE,M
215,2021,SE,FT,Principal Data Engineer,185000,USD,185000,US,100,US,L
216,2021,EN,PT,Computer Vision Engineer,180000,DKK,28609,DK,50,DK,S
217,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
218,2021,MI,FT,Machine Learning Engineer,75000,EUR,88654,BE,100,BE,M
219,2021,SE,FT,Data Analytics Manager,140000,USD,140000,US,100,US,L
220,2021,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
221,2021,MI,FT,Data Scientist,85000,GBP,116914,GB,50,GB,L
222,2021,MI,FT,Data Scientist,2500000,INR,33808,IN,0,IN,M
223,2021,MI,FT,Data Scientist,40900,GBP,56256,GB,50,GB,L
224,2021,SE,FT,Machine Learning Scientist,225000,USD,225000,US,100,CA,L
225,2021,EX,CT,Principal Data Scientist,416000,USD,416000,US,100,US,S
226,2021,SE,FT,Data Scientist,110000,CAD,87738,CA,100,CA,S
227,2021,MI,FT,Data Scientist,75000,EUR,88654,DE,50,DE,L
228,2021,SE,FT,Data Scientist,135000,USD,135000,US,0,US,L
229,2021,SE,FT,Data Analyst,90000,CAD,71786,CA,100,CA,M
230,2021,EN,FT,Big Data Engineer,1200000,INR,16228,IN,100,IN,L
231,2021,SE,FT,ML Engineer,256000,USD,256000,US,100,US,S
232,2021,SE,FT,Director of Data Engineering,200000,USD,200000,US,100,US,L
233,2021,SE,FT,Data Analyst,200000,USD,200000,US,100,US,L
234,2021,MI,FT,Data Architect,180000,USD,180000,US,100,US,L
235,2021,MI,FT,Head of Data Science,110000,USD,110000,US,0,US,S
236,2021,MI,FT,Research Scientist,80000,CAD,63810,CA,100,CA,M
237,2021,MI,FT,Data Scientist,39600,EUR,46809,ES,100,ES,M
238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M
239,2021,EN,FT,Data Engineer,1600000,INR,21637,IN,50,IN,M
240,2021,SE,FT,Data Scientist,130000,CAD,103691,CA,100,CA,L
241,2021,MI,FT,Data Analyst,80000,USD,80000,US,100,US,L
242,2021,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
243,2021,SE,FT,Data Scientist,165000,USD,165000,US,100,US,L
244,2021,EN,FT,AI Scientist,1335000,INR,18053,IN,100,AS,S
245,2021,MI,FT,Data Engineer,52500,GBP,72212,GB,50,GB,L
246,2021,EN,FT,Data Scientist,31000,EUR,36643,FR,50,FR,L
247,2021,MI,FT,Data Engineer,108000,TRY,12103,TR,0,TR,M
248,2021,SE,FT,Data Engineer,70000,GBP,96282,GB,50,GB,L
249,2021,SE,FT,Principal Data Analyst,170000,USD,170000,US,100,US,M
250,2021,MI,FT,Data Scientist,115000,USD,115000,US,50,US,L
251,2021,EN,FT,Data Scientist,90000,USD,90000,US,100,US,S
252,2021,EX,FT,Principal Data Engineer,600000,USD,600000,US,100,US,L
253,2021,EN,FT,Data Scientist,2100000,INR,28399,IN,100,IN,M
254,2021,MI,FT,Data Analyst,93000,USD,93000,US,100,US,L
255,2021,SE,FT,Big Data Architect,125000,CAD,99703,CA,50,CA,M
256,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
257,2021,SE,FT,Principal Data Scientist,147000,EUR,173762,DE,100,DE,M
258,2021,SE,FT,Machine Learning Engineer,185000,USD,185000,US,50,US,L
259,2021,EX,FT,Director of Data Science,120000,EUR,141846,DE,0,DE,L
260,2021,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L
261,2021,SE,FT,Data Analyst,54000,EUR,63831,DE,50,DE,L
262,2021,MI,FT,Data Scientist,1250000,INR,16904,IN,100,IN,S
263,2021,SE,FT,Machine Learning Engineer,4900000,INR,66265,IN,0,IN,L
264,2021,MI,FT,Data Scientist,21600,EUR,25532,RS,100,DE,S
265,2021,SE,FT,Lead Data Engineer,160000,USD,160000,PR,50,US,S
266,2021,MI,FT,Data Engineer,93150,USD,93150,US,0,US,M
267,2021,MI,FT,Data Engineer,111775,USD,111775,US,0,US,M
268,2021,MI,FT,Data Engineer,250000,TRY,28016,TR,100,TR,M
269,2021,EN,FT,Data Engineer,55000,EUR,65013,DE,50,DE,M
270,2021,EN,FT,Data Engineer,72500,USD,72500,US,100,US,L
271,2021,SE,FT,Computer Vision Engineer,102000,BRL,18907,BR,0,BR,M
272,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,0,DE,L
273,2021,EN,FT,Machine Learning Engineer,85000,USD,85000,NL,100,DE,S
274,2021,SE,FT,Data Scientist,65720,EUR,77684,FR,50,FR,M
275,2021,EN,FT,Data Scientist,100000,USD,100000,US,100,US,M
276,2021,EN,FT,Data Scientist,58000,USD,58000,US,50,US,L
277,2021,SE,FT,AI Scientist,55000,USD,55000,ES,100,ES,L
278,2021,SE,FT,Data Scientist,180000,TRY,20171,TR,50,TR,L
279,2021,EN,FT,Business Data Analyst,50000,EUR,59102,LU,100,LU,L
280,2021,MI,FT,Data Engineer,112000,USD,112000,US,100,US,L
281,2021,EN,FT,Research Scientist,100000,USD,100000,JE,0,CN,L
282,2021,MI,PT,Data Engineer,59000,EUR,69741,NL,100,NL,L
283,2021,SE,CT,Staff Data Scientist,105000,USD,105000,US,100,US,M
284,2021,MI,FT,Research Scientist,69999,USD,69999,CZ,50,CZ,L
285,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L
286,2021,SE,FT,Head of Data,87000,EUR,102839,SI,100,SI,L
287,2021,MI,FT,Data Scientist,109000,USD,109000,US,50,US,L
288,2021,MI,FT,Machine Learning Engineer,43200,EUR,51064,IT,50,IT,L
289,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
290,2022,SE,FT,Data Analyst,155000,USD,155000,US,100,US,M
291,2022,SE,FT,Data Analyst,120600,USD,120600,US,100,US,M
292,2022,MI,FT,Data Scientist,130000,USD,130000,US,0,US,M
293,2022,MI,FT,Data Scientist,90000,USD,90000,US,0,US,M
294,2022,MI,FT,Data Engineer,170000,USD,170000,US,100,US,M
295,2022,MI,FT,Data Engineer,150000,USD,150000,US,100,US,M
296,2022,SE,FT,Data Analyst,102100,USD,102100,US,100,US,M
297,2022,SE,FT,Data Analyst,84900,USD,84900,US,100,US,M
298,2022,SE,FT,Data Scientist,136620,USD,136620,US,100,US,M
299,2022,SE,FT,Data Scientist,99360,USD,99360,US,100,US,M
300,2022,SE,FT,Data Scientist,90000,GBP,117789,GB,0,GB,M
301,2022,SE,FT,Data Scientist,80000,GBP,104702,GB,0,GB,M
302,2022,SE,FT,Data Scientist,146000,USD,146000,US,100,US,M
303,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
304,2022,EN,FT,Data Engineer,40000,GBP,52351,GB,100,GB,M
305,2022,SE,FT,Data Analyst,99000,USD,99000,US,0,US,M
306,2022,SE,FT,Data Analyst,116000,USD,116000,US,0,US,M
307,2022,MI,FT,Data Analyst,106260,USD,106260,US,0,US,M
308,2022,MI,FT,Data Analyst,126500,USD,126500,US,0,US,M
309,2022,EX,FT,Data Engineer,242000,USD,242000,US,100,US,M
310,2022,EX,FT,Data Engineer,200000,USD,200000,US,100,US,M
311,2022,MI,FT,Data Scientist,50000,GBP,65438,GB,0,GB,M
312,2022,MI,FT,Data Scientist,30000,GBP,39263,GB,0,GB,M
313,2022,MI,FT,Data Engineer,60000,GBP,78526,GB,0,GB,M
314,2022,MI,FT,Data Engineer,40000,GBP,52351,GB,0,GB,M
315,2022,SE,FT,Data Scientist,165220,USD,165220,US,100,US,M
316,2022,EN,FT,Data Engineer,35000,GBP,45807,GB,100,GB,M
317,2022,SE,FT,Data Scientist,120160,USD,120160,US,100,US,M
318,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
319,2022,SE,FT,Data Engineer,181940,USD,181940,US,0,US,M
320,2022,SE,FT,Data Engineer,132320,USD,132320,US,0,US,M
321,2022,SE,FT,Data Engineer,220110,USD,220110,US,0,US,M
322,2022,SE,FT,Data Engineer,160080,USD,160080,US,0,US,M
323,2022,SE,FT,Data Scientist,180000,USD,180000,US,0,US,L
324,2022,SE,FT,Data Scientist,120000,USD,120000,US,0,US,L

In [23]:
# To find what all columns it contains, of what types and if they contain any value in it or not. Use info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 52.3+ KB

In [24]:
# To find the count, mean, standard deviation, minimum and maximum values and the quantities of the data. Use describe()
# for numeric columns
df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count   607.000000  6.070000e+02     607.000000     607.00000
mean   2021.405272  3.240001e+05  112297.869852      70.92257
std       0.692133  1.544357e+06   70957.259411      40.70913
min    2020.000000  4.000000e+03    2859.000000       0.00000
25%    2021.000000  7.000000e+04   62726.000000      50.00000
50%    2022.000000  1.150000e+05  101570.000000     100.00000
75%    2022.000000  1.650000e+05  150000.000000     100.00000
max    2022.000000  3.040000e+07  600000.000000     100.00000

In [26]:
df.shape

(607, 11)

In [17]:

# Create new DataFrame with duplicate rows
df2 = pd.concat([df, df])

print('shape :', df2.shape)

shape : (1214, 11)

In [18]:
# To remove duplicate rows use drop_duplicates()
df2 = df2.drop_duplicates()

df2.shape

(565, 11)

In [21]:
# Select Rows based on certin condition 

df.loc[(df['job_title'] == 'Data Scientist') & (df['experience_level'] == 'EN')].shape

(22, 11)

In [30]:
# Use group by with pandas

df.groupby(by=["company_location"])['company_location'].count()

company_location
AE      3
AS      1
AT      4
AU      3
BE      2
BR      3
CA     30
CH      2
CL      1
CN      2
CO      1
CZ      2
DE     28
DK      3
DZ      1
EE      1
ES     14
FR     15
GB     47
GR     11
HN      1
HR      1
HU      1
IE      1
IL      1
IN     24
IQ      1
IR      1
IT      2
JP      6
KE      1
LU      3
MD      1
MT      1
MX      3
MY      1
NG      2
NL      4
NZ      1
PK      3
PL      4
PT      4
RO      1
RU      2
SG      1
SI      2
TR      3
UA      1
US    355
VN      1
Name: company_location, dtype: int64